<center>
  </br>
  <h1>Bem-Vindo ao UNIVAP Mobile</h1>
  </br>
  <div style="color:#777; font-size:14px">
    <p>Universidade do Vale do Paraíba</p>
    <p>Ciências da Computação</p>
    <p>Trabalho de Conclusão de Curso - 2012</p></br>
    <p style="font-size:12px">Leandro Hossaki Mielli - 00810910</p>
  </div>
  </br>
</center>