<div data-role="header" data-theme="b" data-position="inline">
  <a href="#" data-rel="back" data-icon="back" class="ui-btn-left">Voltar</a>
  <a href="/mobile/options" data-rel="dialog" data-icon="gear" class="ui-btn-right">Opções</a>
  <span class="ui-title"><%= @title %></span>
</div>