<%= render :file => "/mobile/header_home.html.erb" %>

<div data-role="content">
  <ul data-role="listview" data-theme="c" data-inset="true">
    <li><%= link_to "Aluno", :action => :student %></li>
    <li><%= link_to "Biblioteca", :action => :library %></li>
  </ul>
</div>