<div data-role="header" data-theme="b" data-position="inline">
  <a href="/mobile/options2" data-rel="dialog" data-icon="gear" class="ui-btn-right">Opções</a>
  <span class="ui-title"><%= @title %></span>
</div>

<div data-role="content">
  <h2>Obrigado por nos visitar!</h2>
</div>